.button-click {
    border-color: black;
    font-size: 25px;
    padding: 20px;
    font-weight: 600;
    background-color: #61dafb;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

.error {
    background-color: red;
}